img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6
 {
    letter-spacing: 0.02em;
}
  
p {
    letter-spacing: 0.02em;
}
//em單位是以字體字身大小乘以數值做計算

a {
    color: inherit;
    display: inline-block;
}