<nav class="navbar navbar-expand-lg container ">
    <div class="container px-10 py-5 d-flex flex-nowrap align-items-center" style="box-shadow: 0px 2px 40px 0px #0068FF1A; border-radius: 100px;" >
        <div class="d-flex align-items-center ">
            <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" alt="learning" class="img-fluid"></a>
            <!--電腦版-->
            <ul class="list-unstyled d-none d-lg-flex align-items-center mb-0">          
              <li class="nav-item dropdown position-static">
                <button class="btn fs-7 fw-normal text-nowrap " type="button" id="dropdownMenuButton1"  data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                探索<span class="material-symbols-outlined text-neutral-80 align-middle">keyboard_arrow_down</span>
                </button>
                <div class="dropdown-menu explore-lg-dropdown-menu my-0 py-0 " aria-labelledby="dropdownMenuButton1">
                    <div class="d-flex">
                        <ul class="dropdown-menu-1st list-unstyled p-4 bg-neutral-10 border-end">
                            <li class="mb-2"><a class="dropdown-header fs-7 text-neutral-80  px-7 py-4" href="#">探索全部</a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">音樂<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">攝影<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item active rounded-2 bg-primary px-7 py-4 d-flex justify-content-between"  href="#">程式<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">藝術<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">人文<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">攝影<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">行銷<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">投資理財<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">心靈成長<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">職場技能<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">生活品味<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">心靈成長<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">職場技能<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">生活品味<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                        </ul>
                        <ul class="dropdown-menu-2nd list-unstyled p-4 border-end">
                            <li class="mb-2 "><a class="dropdown-header fs-7 text-neutral-80  px-7 py-4" href="#">所有程式</a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">程式入門<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">網頁前端<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item active rounded-2  px-7 py-4 d-flex justify-content-between" href="#">網頁後端<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">網站架設<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">資訊安全<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">程式語言<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">遊戲開發<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                            <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">資料科學<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                        </ul>
                        <ul class="dropdown-menu-3rd list-unstyled px-7 py-4 px-7">
                            <li class="mb-2"><a class="dropdown-header fs-7 text-neutral-80 fw-semibold" href="#">
                                <img src="../assets/images/icons/ic_fire.png" alt="fire" width="24px" class="me-2 align-middle">熱門網頁前端課程</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="d-flex border-bottom border-neutral-200 pt-3 pb-4">
                                <div class="position-relative">
                                  <img src="../assets/images/course-5.png" alt="course-5" style="height: 100px;" class=" rounded-3 object-fit-cover ">
                                  <p class="position-absolute top-0 start-0 px-2 py-1 m-1 text-alert fs-8 bg-alert-10 rounded-pill"> 8 折</p>
                                </div>
                                <div class="ps-2">
                                  <h7 class="fw-semibold">小白也會！從零開始學習 Python 程式設計</h7>
                                  <div class="d-flex justify-content-between border-bottom border-neutral-40 pb-2 mt-5">
                                    <div class="d-flex align-items-center">
                                      <img src="../assets/images/avatar-2.png" alt="" width="32" class="me-2 object-fit-cover" >
                                      <p class="fs-7 text-neutral-80">Kelly Hsu</p>
                                    </div>
                                    <div>
                                      <p class="text-primary fw-semibold">NT$ 2,480</p>
                                      <p class="fs-9 text-decoration-line-through text-end" style="color: #808080;">NT$ 3,200</p>
                                    </div>
                                  </div>
                                  <div class="d-flex justify-content-between py-2 ">
                                    <p class="text-neutral-80 fs-8">已有 420 位同學加入</p>
                                    <p class=" d-flex align-items-center fs-8" style="color: #808080;">
                                        <i class="bi bi-star-fill fs-9" style="color: #F6BD2B;"></i><span style="color: #180000;">4.0</span>(333)
                                    </p>
                                  </div>
                                </div>
                            </li>
                            <li class="d-flex border-bottom border-neutral-200 pt-3 pb-4">
                                <div class="position-relative">
                                  <img src="../assets/images/course-5.png" alt="course-5" style="height: 100px;" class=" rounded-3 object-fit-cover ">
                                  <p class="position-absolute top-0 start-0 px-2 py-1 m-1 text-alert fs-8 bg-alert-10 rounded-pill"> 8 折</p>
                                </div>
                                <div class="ps-2">
                                  <h7 class="fw-semibold">小白也會！從零開始學習 Python 程式設計</h7>
                                  <div class="d-flex justify-content-between border-bottom border-neutral-40 pb-2 mt-5">
                                    <div class="d-flex align-items-center">
                                      <img src="../assets/images/avatar-2.png" alt="" width="32" class="me-2 object-fit-cover" >
                                      <p class="fs-7 text-neutral-80">Kelly Hsu</p>
                                    </div>
                                    <div>
                                      <p class="text-neutral-60 fw-semibold">已購買</p>
                                      <p class="fs-9 text-decoration-line-through text-end" style="color: #808080;">NT$ 3,200</p>
                                    </div>
                                  </div>
                                  <div class="d-flex justify-content-between py-2 ">
                                    <p class="text-neutral-80 fs-8">已有 420 位同學加入</p>
                                    <p class=" d-flex align-items-center fs-8" style="color: #808080;">
                                        <i class="bi bi-star-fill fs-9" style="color: #F6BD2B;"></i><span style="color: #180000;">4.0</span>(333)
                                    </p>
                                  </div>
                                </div>
                            </li>
                            <li class="d-flex pt-3 pb-4">
                                <div class="position-relative">
                                  <img src="../assets/images/course-5.png" alt="course-5" style="height: 100px;" class=" rounded-3 object-fit-cover ">
                                  <p class="position-absolute top-0 start-0 px-2 py-1 m-1 text-alert fs-8 bg-alert-10 rounded-pill"> 8 折</p>
                                </div>
                                <div class="ps-2">
                                  <h7 class="fw-semibold">小白也會！從零開始學習 Python 程式設計</h7>
                                  <div class="d-flex justify-content-between border-bottom border-neutral-40 pb-2 mt-5">
                                    <div class="d-flex align-items-center">
                                      <img src="../assets/images/avatar-2.png" alt="" width="32" class="me-2 object-fit-cover" >
                                      <p class="fs-7 text-neutral-80">Kelly Hsu</p>
                                    </div>
                                    <div>
                                      <p class="text-primary fw-semibold">NT$ 2,480</p>
                                      <p class="fs-9 text-decoration-line-through text-end" style="color: #808080;">NT$ 3,200</p>
                                    </div>
                                  </div>
                                  <div class="d-flex justify-content-between py-2 ">
                                    <p class="text-neutral-80 fs-8">已有 420 位同學加入</p>
                                    <p class=" d-flex align-items-center fs-8" style="color: #808080;">
                                        <i class="bi bi-star-fill fs-9" style="color: #F6BD2B;"></i><span style="color: #180000;">4.0</span>(333)
                                    </p>
                                  </div>
                                </div>
                            </li>                           
                        </ul>
                    </div>
                </div>
              </li>            
              <li>
                <form class="d-lg-flex d-none position-relative w-100" role="search">
                    <a href="#"><span class="material-symbols-outlined text-neutral-80 position-absolute top-50 start-0 translate-middle-y ms-2">search</span></a>
                    <input class="form-control border border-neutral-40 rounded-4 py-6 ps-10 pe-12  " type="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
                    <button class="d-lg-flex d-none btn btn-primary rounded-3 px-5 py-4 text-nowrap fs-7 position-absolute top-50 end-0 translate-middle-y me-2" type="submit">搜尋</button>
                </form>
              </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
          <a href="#"><span class="material-symbols-outlined px-4 py-2 text-neutral-80 me-lg-5">notifications</span></a>
          <a href="#"><span class="material-symbols-outlined px-4 py-2 text-neutral-80 me-lg-2">shopping_cart</span></a>
          <a class="btn btn-primary d-lg-block d-none rounded-3 px-9 py-5 text-nowrap" href="#">登入 / 註冊</a>
          <!--手機板-->
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header mt-2 ">
            <h7 class="offcanvas-title px-5 ms-2" id="offcanvasNavbarLabel">探索全部</h7>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body explore-offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown position-static">
                  <ul class="sm-dropdown-menu-1st list-unstyled p-4 ">
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">音樂<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">攝影<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li>
                      <a class="dropdown-item active bg-primary text-white rounded-2  px-7 py-4 d-flex justify-content-between" data-bs-toggle="dropdown" href="#">程式<span class="material-symbols-outlined align-middle text-white">chevron_right</span></a>
                  
                      <ul class="dropdown-menu sm-dropdown-menu-2nd list-unstyled border-0">
                        <li class="mb-2 border-bottom border-neutral-40">
                          <a class="dropdown-item d-flex align-items-center justify-content-canter" href="#">
                            <span class="material-symbols-outlined  align-middle"> chevron_left </span>
                            <h7 class="text-center">所有程式</h7>
                          </a>
                        </li>
                        <li><a class="dropdown-item" href="#">程式入門</a></li>
                        <li><a class="dropdown-item" href="#">網頁前端</a></li>
                        <li><a class="dropdown-item" href="#">網頁後端</a></li>
                        <li><a class="dropdown-item" href="#">網站架設</a></li>
                        <li><a class="dropdown-item" href="#">資訊安全</a></li>
                        <li><a class="dropdown-item" href="#">程式語言</a></li>
                        <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                        <li><a class="dropdown-item" href="#">資料科學</a></li>
                      </ul>
                   
                    </li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">藝術<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">人文<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">攝影<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">行銷<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">投資理財<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">心靈成長<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">職場技能<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">生活品味<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">心靈成長<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">職場技能<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>
                    <li><a class="dropdown-item  px-7 py-4 d-flex justify-content-between" href="#">生活品味<span class="material-symbols-outlined align-middle text-neutral-60">chevron_right</span></a></li>      
                  </ul>
                </li>
              </ul> 
              <div class="d-lg-none border-top  px-7 py-4 bg-white w-100 position-absolute bottom-0 start-0">
                <a class="btn btn-primary d-block" href="#">登入 / 註冊</a>
              </div>     
           </div>
          </div>
        </div>        
    </div>
</nav>

